
@font-face {
  font-family: 'retro_gamingregular';
  src: url('assets/webfont-kit/retro_gaming-webfont.woff2') format('woff2'),
       url('assets/webfont-kit/retro_gaming-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
html, body {
  margin: 0;
  padding: 0;
  background: rgb(90,90,90);
  font-family: 'retro_gamingregular';
}
body{
  display: grid;
  grid: 0.3fr 0.3fr 1fr / 765px 552px;

}

h1{
  font-size: 4em;
  margin: 0px;
}
p{
  color: white;
}
a:link,a:visited{
  color: cyan;
  text-shadow: 4px 4px 0px blue;
  text-decoration: none;
}
a:hover{
  color: blue;
  text-shadow: 4px 4px 0px cyan;
  text-decoration: none;
}
#defaultCanvas0 {
  display: block;
  margin: 30px;
  grid-column: 1 / 2;
  grid-row: 1 / 4;
}
#title{
  text-align: center;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  padding: 30px;
}
#title p{
  margin: 0px;
}
#submenu{
  display: grid;
  grid: 0.2fr 1fr / 0.6fr 1fr 0.5fr 1fr 0.5fr;
}
#qcount{
  color: yellow;
  text-align: center;
  margin:0px;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}
#qcount-display{
  display: flex;
  justify-content: flex-start;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
#qcount-display h2{
  color: yellow;
}
#restart{
  color: rgb(0,255,0);
  margin:0px;
  text-align: center;
  grid-column: 4 / 5;
  grid-row: 1 / 2;
}
#restart-icon{
  background:url("assets/Q-Jam/restart_button.png") no-repeat 45px 14px;
  grid-column: 4 / 5;
  grid-row: 2 / 3;
}
#restart-icon:active{
  background:url("assets/Q-Jam/restart_button_rotated.png") no-repeat 41px 10px;
}
#info-box{
  background-color: rgb(20,20,20);
  margin: 30px;
  padding: 30px;
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}
#info-box h2{
  margin: 0px;
}
#info-box img{
  display: inline;
}
#info{
  color:cyan;
}
#info-0{
  color: yellow;
}
#info-1 span{
  color: cyan;
}
#info-2 span{
  color: cyan;
}
#info-3 span{
  color: red;
}